<div class="registration-container">

  <mat-card class="registration-card">

    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
      <mat-card-subtitle>and join thousands who daily get their dealings done with Companion</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput type="text" class="form-control" placeholder="Username">
        </mat-form-field><br>

        <mat-divider></mat-divider><br>

        <mat-form-field>
          <input matInput type="password" class="form-control" placeholder="Password">
        </mat-form-field>


        <mat-card-actions>
          <button mat-raised-button>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </mat-card-actions>

        <mat-divider></mat-divider><br><br>

        <mat-card-subtitle>
          <strong>Sign Up with Email</strong>
        </mat-card-subtitle>

        <mat-form-field>
          <input matInput type="email" class="form-control" placeholder="Email">
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>

</div>
