<div class="container-welcome">
  <div class="welcomeText">
    <h1>Turning your dreams to reality</h1>
    <button class="getStarted" mat-raised-button color="warn">Get Started</button>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title colorr="primary">Companion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Save, secure, and highly efficient web service at your very disposal.
        Offers the possiblity for you to search beautiful and highly accessible real estates, E-markets and
        E-Shops, social networking platforms etc. With companion, your electronic gadgets are just one click away thanks
        to the
        KUMATO$CO sub subservice of Companion.
      </p>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-raised-button color="warn">
          <mat-icon>thumb_up</mat-icon>
          Thumbs
        </button>
        <!-- <button mat-raised-button color="warn">
          <mat-icon>notifications</mat-icon>
          Notifications
        </button> -->
        <!-- <mat-divider></mat-divider> -->
        <button mat-raised-button color="warn">
          <mat-icon>share</mat-icon>
          Share
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
