<div class="sidenav-container">
  <mat-card>
    <mat-card-header>
      <!-- <img matCardAvatar src="Avatar source"> -->
      <mat-card-title>Companion</mat-card-title>
      <mat-card-subtitle>profound inovation</mat-card-subtitle>
    </mat-card-header>
    <!-- <img matCardImage src="Card wide image source"> -->
    <mat-card-content>
      <mat-nav-list dense>


        <a mat-list-item routerLink="/">
          <mat-icon>home</mat-icon>
          Home
        </a>

        <a mat-icon-button routerLink='/user/login' class="loginIcon">
          <mat-icon>person</mat-icon>
          Login
        </a>

        <a mat-icon-button routerLink='/user/register' class="signUpIcon">
          <mat-icon>person_add</mat-icon>
          Sign Up
        </a>

        <a mat-list-item routerLink="/services">
          <mat-icon>save</mat-icon>
          Services
        </a>


        <a mat-list-item routerLink="/portfolio">
          <mat-icon>schedule</mat-icon>
          Portfolio
        </a>

        <a mat-list-item routerLink="/">
          <mat-icon>school</mat-icon>
          Apps
        </a>

        <a mat-list-item routerLink="/contact">
          <mat-icon>contacts</mat-icon>
          Contacts
        </a>

        <a mat-list-item routerLink="/about">
          <mat-icon>person</mat-icon>
          About Us
        </a>

        <a mat-list-item routerLink="/userAgent-support">
          <mat-icon>help</mat-icon>
          Support
        </a>

      </mat-nav-list>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button color="warn">Sign Up</button>
      <button mat-icon-button color="primary">
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer>
      Your daily companion turning your dreams to reality
    </mat-card-footer>
  </mat-card>
</div>
