<div class="cv-container">
  <mat-card class="userDashboard-card">
    <mat-card-header>
      <!-- <img matCardAvatar src="Avatar source"> -->
      <mat-card-title>Dealings and Status</mat-card-title>
      <mat-card-subtitle>Sinclaire's Status and Dealings</mat-card-subtitle>
    </mat-card-header>
    <!-- <img matCardImage src="Card wide image source"> -->

    <mat-divider></mat-divider>
    <mat-card-content>
      <h3>Reviews based on recommended standards</h3>
      <mat-progress-spinner mode="determinate" [value]="100" color="primary" [strokeWidth]="10"></mat-progress-spinner>
      <span>40%</span>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-raised-button color="primary">Save</button>
      <button mat-raised-button color="accent">Cancel</button>

    </mat-card-actions>
    <mat-card-footer>
      More actions
    </mat-card-footer>
  </mat-card>

</div>
