.main-container {
  display: flex;
  flex-wrap: wrap;
}
.container {
  margin: 0 auto;
}

ul button {
  margin-right: 8rem;
}

.sidenavBtn {
  margin-right: 0.5rem;
}

//Media Screens

@media screen and (max-width: 499px) {
  .searchIcon {
    display: none;
  }
  .main-container {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
  }
}

@media screen and (max-width: 399px) {
  .searchIcon {
    display: none;
  }
  .main-container {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
  }
}
@media screen and (max-width: 322px) {
  .searchIcon {
    display: none;
  }
  .main-container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 80%;
  }
}
