<div class="main-container" [ngClass]="selectedTheme">

  <!-- Application header -->
  <app-header (appTheme)="selectedTheme=$event"></app-header>
  <app-profile-toolbar [toggleDrawerSignal]="toggleDrawer">
  </app-profile-toolbar>


  <mat-drawer-container autosize>
    <mat-drawer mode="side" #toggleDrawer>
      <!-- App Sidenav for Dashboard -->
      <app-dashboard-sidenav *ngIf="login"></app-dashboard-sidenav>
      <!-- App Sidenav for UnLogged user -->
      <app-sidenav *ngIf="!login"></app-sidenav>
    </mat-drawer>

    <!-- App main Content -->
    <mat-drawer-content>
      <app-home></app-home>
    </mat-drawer-content>

  </mat-drawer-container>

  <!-- Application footer -->
  <app-footer></app-footer>
</div>
