mat-card-content {
  margin-top: 2rem;
}
mat-card-content span {
  margin-top: -3.7rem;
  margin-left: 1.4rem;
  position: absolute;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bolder;
}
