.uploadTask-container {
  margin-top: 3rem;
  margin-right: 3rem;
}
.uploadTask-card {
  margin: 0 auto;
  max-width: 30%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 499px) {
  .uploadTask-container {
    margin-top: 2rem;
    margin-right: 27rem;
  }
  .uploadTask-card {
    max-width: 80%;
  }
}
