.mainNav-one {
  display: flex;
  justify-content: space-between;
}

.navLinks-one {
  display: flex;
  justify-content: space-around;
}

ul button {
  margin-right: 4rem;
}

//Media Screens

@media screen and (max-width: 499px) {
  .loginIcon {
    display: none;
  }
  .signUpIcon {
    display: none;
  }
  .dashboardIcon {
    display: none;
  }
  .mainNav-one {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
  }
}

@media screen and (max-width: 399px) {
  .loginIcon {
    display: none;
  }
  .signUpIcon {
    display: none;
  }
  .dashboardIcon {
    display: none;
  }
  .mainNav-one {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
  }
}

@media screen and (max-width: 322px) {
  .loginIcon {
    display: none;
  }
  .signUpIcon {
    display: none;
  }
  .dashboardIcon {
    display: none;
  }
  .mainNav-one {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 80%;
  }
}
