<mat-toolbar class="mainNav-one" color="primary">
  <h5>Companion</h5>
  <div class="container">

    <ul class="navLinks-one">
      <button mat-icon-button routerLink=''>
        <mat-icon class="homeIcon">home</mat-icon>
      </button>

      <button mat-icon-button routerLink='/user/search'>
        <mat-icon class="searchIcon">search</mat-icon>
      </button>

      <button mat-icon-button routerLink='/user/login' class="loginIcon">
        <mat-icon>person</mat-icon>
      </button>

      <button mat-icon-button routerLink='/user/register' class="signUpIcon">
        <mat-icon>person_add</mat-icon>
      </button>

      <button mat-icon-button class="dashboardIcon" (click)="openUserProfile()">
        <mat-icon>account_circle</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menuButtons">
        <mat-icon class="customizeIcon">settings</mat-icon>
      </button>
      <mat-menu #menuButtons>
        <button mat-menu-item *ngFor="let theme of themes" (click)="selectTheme(theme.value)">
          {{theme.name}}
        </button>
      </mat-menu>

    </ul>
  </div>
</mat-toolbar>

<!-- Uncomment this part to get a second toolbar -->
